@media screen and (min-width: 481px) and (max-width: 1024px) {
  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 250px;
    font-size: 40px;
    padding-top: 150px;
  }

  #logo-mobile {
    display: none;
  }
}
