@media screen and (max-width: 480px) {
  #contact {
    height: auto;
  }

  #titre-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-top: 10px;
  }

  #text-contact {
    text-align: center;
    margin: 30px;
    font-size: 15px;
  }
}
