@media screen and (min-width: 481px) and (max-width: 1024px) {
  #contact {
    height: auto;
  }

  #titre-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    margin-top: 20px;
  }

  #text-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
}
